@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Josefin Sans", sans-serif;
  }
  body {
    position: relative;
  }
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: hsl(236, 9%, 61%);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }

  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: 0.25s;
  }

  .bar:nth-child(3) {
    animation-delay: 0.5s;
  }

  @keyframes scale-up4 {
    20% {
      background-color: #ffff;
      transform: scaleY(1.5);
    }

    40% {
      transform: scaleY(1);
    }
  }

  .active {
    @apply text-Bright-Blue;
  }

  .input__bg {
    @apply h-[45px] px-4 rounded-[4px] border border-Light-Grayish-Blue dark:border-none bg-transparent dark:bg-Very-Light-Gray  outline-none text-Very-Dark-Desaturated-Blue;
  }

  .input__btn {
    @apply w-full bg-Bright-Blue h-[45px] rounded-[4px] text-Very-Light-Gray text-base;
  }
}
